<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="menu">
<body>
<div layout:fragment="mainpage">

    <div id="blue">
        <div class="container">
            <div class="row">
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div th:if="${newAppointmentSuccess}" class="alert alert-success"
                     role="alert">
                    <strong>Appointment updated successfully.</strong>
                </div>
                <table id="myTable"
                       class="table table-striped">
                    <thead>
                    <tr style="background: #e3e6ff">
                        <th class="text-center">Vet</th>
                        <th class="text-center">Pet</th>
                        <th class="text-center">To Date</th>
                        <th class="text-center">To Time</th>
                        <th class="text-center">Note</th>
                        <th sec:authorize="hasRole('ROLE_USER')" class="text-center">Edit Appointment</th>
                        <th class="text-center">View</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="appointment : ${appointments}" class="text-center">
                        <td><span th:text="${appointment.vet.getFirstName()}"></span>
                            <span th:text="${appointment.vet.getLastName()}"></span></td>
                        <td><span th:text="${appointment.pet.getName()}"></span></td>
                        <td th:text="${appointment.toDate}"></td>
                        <td th:text="${appointment.toTime}"></td>
                        <!-- <td th:text="${appointment.status}"></td> -->
                        <td th:text="${appointment.note}"></td>
                        <td sec:authorize="hasRole('ROLE_USER')" class="td-actions"><a th:href="@{/editAppointment(id=${appointment.getId()})}"
                                                  class="btn btn-default btn-xs"><span
                                class="fas fa-pencil-alt"></span>Edit</a></td>
                        <td class="td-actions"><a th:href="@{/petInfo(id=${appointment.pet.getId()})}"
                                                  class="btn btn-default btn-xs"><span
                                class="fas fa-search"></span>View</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>
