<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <title>Anicare</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Anicare</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>

    <link th:href="@{../assets/fonts/font-awesome/css/all.css}" rel="stylesheet"/>
    <link th:href="@{../assets/css/themify-icons.css}" rel="stylesheet"/>

    <link href="https://content-anicare.s3.eu-central-1.amazonaws.com/css/owl.carousel.min.css" rel="stylesheet"/>
    <link href="https://content-anicare.s3.eu-central-1.amazonaws.com/css/magnific-popup.css" rel="stylesheet"/>
    <link href="https://content-anicare.s3.eu-central-1.amazonaws.com/css/nice-select.css" rel="stylesheet"/>
    <link href="https://content-anicare.s3.eu-central-1.amazonaws.com/css/flaticon.css" rel="stylesheet"/>
    <link href="https://content-anicare.s3.eu-central-1.amazonaws.com/css/animate.css" rel="stylesheet"/>
    <link href="https://content-anicare.s3.eu-central-1.amazonaws.com/css/slicknav.css" rel="stylesheet"/>
    <link href="https://content-anicare.s3.eu-central-1.amazonaws.com/css/bootstrap.css" rel="stylesheet"/>
    <link href="https://content-anicare.s3.eu-central-1.amazonaws.com/css/searchPanes.dataTables.min.css"
          rel="stylesheet"/>
    <link th:href="@{../assets/css/style.css}" rel="stylesheet"/>

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css"/>

    <link rel="stylesheet" type="text/css"
          href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.css"/>
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/select/1.3.1/css/select.dataTables.min.css"/>

    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.min.css"/>

    <link th:href="@{../assets/css/searchPanes.dataTables.min.css}" rel="stylesheet"/>

    <link rel="stylesheet" type="text/css"
          href="https://content-anicare.s3.eu-central-1.amazonaws.com/css/bootstrap-datepicker.css"/>

    <link href="https://content-anicare.s3.eu-central-1.amazonaws.com/css/gijgo.css" rel="stylesheet"/>
</head>

<body>
<div class="header-area">
    <div id="sticky-header" class="main-header-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-3 col-lg-3">
                    <div class="logo">
                        <a href="/home">
                            <img style="margin-bottom: 10%" th:src="@{../assets/img/homepage/anicare-logo.png}"
                                 alt=""/>
                        </a>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-9">
                    <div class="main-menu  d-none d-lg-block">
                        <nav>
                            <ul id="navigation">
                                <li><a href="/home">Home</a></li>
                                <li><a href="/contact">Contact</a></li>
                                <li><a href="#">Account<i class="ti-angle-down"></i></a>
                                    <ul class="submenu">
                                        <li><a href="/login">Login</a></li>
                                        <li><a href="/register">Register</a></li>
                                        <li><a href="/registerVet">Apply Vet</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-12">
                    <div class="mobile_menu d-block d-lg-none"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <div id="blue">
        <div class="container">
            <div class="row">
            </div>
        </div>
    </div>
    <div class="container mtb">
        <div class="col-lg-6 col-md-offset-3">
            <div class="col-md-12">
                <form th:action="@{/forgotPassword}" method="post"
                      th:object="${customer}" role="form">
                    <div th:if="${isFailed}" class="alert alert-danger" role="alert">
                        <strong>Wrong credentials.</strong>
                    </div>
                    <div class="form-group">
                        <label for="InputEmail1">Email *</label>
                        <input required="required" type="text" th:field="*{email}"
                               placeholder="Email" class="form-control input-md"/>
                        <b><span th:errors="*{email}" class="text-danger"></span></b>
                    </div>
                    <div class="form-group">
                        <label for="InputEmail1">Security Question *</label> <b><span
                            class="text-danger"></span></b> <select
                            th:field="*{securityQuestion}" class="form-control">
                        <option th:each="security : ${securityQuestions}"
                                th:value="${security}"
                                th:text="${security}"></option>
                    </select>
                    </div>
                    <div class="form-group">
                        <label for="InputEmail1">Security Answer *</label>
                        <input required="required" type="text" th:field="*{securityAnswer}" autocomplete="off"
                               placeholder="Security Answer" class="form-control input-md"/>
                        <b><span th:errors="*{securityAnswer}" class="text-danger"></span></b>
                    </div>
                    <div class="text-right">
                        <input type="submit" value="Submit" class="btn btn-theme"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script
        src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.min.js"></script>
<script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


<script src="https://content-anicare.s3.eu-central-1.amazonaws.com/homepage/modernizr-3.5.0.min.js"></script>
<script src="https://content-anicare.s3.eu-central-1.amazonaws.com/homepage/jquery-1.12.4.min.js"></script>
<script src="https://content-anicare.s3.eu-central-1.amazonaws.com/homepage/bootstrap.min.js"></script>
<script src="https://content-anicare.s3.eu-central-1.amazonaws.com/homepage/owl.carousel.min.js"></script>
<script src="https://content-anicare.s3.eu-central-1.amazonaws.com/homepage/isotope.pkgd.min.js"></script>
<script src="https://content-anicare.s3.eu-central-1.amazonaws.com/homepage/ajax-form.js"></script>
<script src="https://content-anicare.s3.eu-central-1.amazonaws.com/homepage/waypoints.min.js"></script>
<script src="https://content-anicare.s3.eu-central-1.amazonaws.com/homepage/imagesloaded.pkgd.min.js"></script>
<script src="https://content-anicare.s3.eu-central-1.amazonaws.com/homepage/scrollIt.js"></script>
<script src="https://content-anicare.s3.eu-central-1.amazonaws.com/homepage/jquery.scrollUp.min.js"></script>
<script src="https://content-anicare.s3.eu-central-1.amazonaws.com/homepage/wow.min.js"></script>
<script src="https://content-anicare.s3.eu-central-1.amazonaws.com/homepage/nice-select.min.js"></script>
<script src="https://content-anicare.s3.eu-central-1.amazonaws.com/homepage/jquery.slicknav.min.js"></script>
<script src="https://content-anicare.s3.eu-central-1.amazonaws.com/homepage/jquery.magnific-popup.min.js"></script>
<script src="https://content-anicare.s3.eu-central-1.amazonaws.com/homepage/plugins.js"></script>
<script src="https://content-anicare.s3.eu-central-1.amazonaws.com/homepage/gijgo.min.js"></script>
<script src="https://content-anicare.s3.eu-central-1.amazonaws.com/homepage/popper.min.js"></script>

<script src="https://content-anicare.s3.eu-central-1.amazonaws.com/homepage/contact.js"></script>
<script src="https://content-anicare.s3.eu-central-1.amazonaws.com/homepage/jquery.ajaxchimp.min.js"></script>
<script src="https://content-anicare.s3.eu-central-1.amazonaws.com/homepage/jquery.validate.min.js"></script>

<script src="https://content-anicare.s3.eu-central-1.amazonaws.com/login/select2/select2.min.js"></script>

<script th:src="@{../assets/js/main.js}"></script>
<script th:src="@{../assets/js/jquery-counterup.min.js}"></script>

<script
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.min.js"></script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.js"></script>
<script type="text/javascript" charset="utf8"
        src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script type="text/javascript"
        src="https://cdn.datatables.net/select/1.3.1/js/dataTables.select.min.js"></script>
<script type="text/javascript"
        src="https://cdn.datatables.net/searchpanes/1.1.1/js/dataTables.searchPanes.min.js"></script>
<script type="text/javascript"
        src="https://cdn.datatables.net/buttons/1.6.2/js/dataTables.buttons.min.js"></script>
<script type="text/javascript"
        src="https://content-anicare.s3.eu-central-1.amazonaws.com/js/bootstrap-datepicker.js"></script>


<script type="text/javascript">
    $(document).ready(function () {
        $('#datetimepicker1').datepicker()
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#datetimepicker2').datepicker();
    });
</script>


<script type="text/javascript">
    $(document).ready(function () {
        $('#framework').multiselect({
            nonSelectedText: 'Select Diagnosis',
            enableFiltering: true,
            enableCaseInsensitiveFiltering: true,
            buttonWidth: '350px'
        });

        $('#framework_form').on('submit', function (event) {
            event.preventDefault();
            var form_data = $(this).serialize();
            $.ajax({
                url: "insert.php",
                method: "POST",
                data: form_data,
                success: function (data) {
                    $('#framework option:selected').each(function () {
                        $(this).prop('selected', false);
                    });
                    $('#framework').multiselect('refresh');
                    alert(data);
                }
            });
        });


    });
</script>


<script type="text/javascript" language="javascript" class="init">
    $(document).ready(function () {
        let today = new Date();
        const dd = String(today.getDate()).padStart(2, '0');
        const mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
        const yyyy = today.getFullYear();
        today = yyyy + '-' + mm + '-' + dd;
        $('#myTable').dataTable({
            "order": [[2, "asc"]],
            'iDisplayLength': 10,
            "bFilter": true,
            "bPaginate": true,
            "bInfo": true,
            "bLengthChange": true,
            "columnDefs": [{
                "targets": 0,
            }],
            "sPaginationType": "full_numbers",
            searchPanes: {
                orderable: false,
                columns: [2],
                panes: [
                    {
                        header: 'Filter by Date',
                        options: [
                            {
                                label: 'Today appointments',
                                value: function (rowData, rowIdx) {
                                    return Date.parse(rowData[2]) === Date.parse(today);
                                }
                            },
                            {
                                label: 'Future appointments',
                                value: function (rowData, rowIdx) {
                                    return Date.parse(rowData[2]) > Date.parse(today);
                                }
                            },
                            {
                                label: 'Past appointments',
                                value: function (rowData, rowIdx) {
                                    return Date.parse(today) > Date.parse(rowData[2]);
                                }
                            }

                        ],
                        dtOpts: {
                            searching: false,
                            order: [[0, 'desc']]
                        }
                    }
                ],
                layout: 'columns-0',
            },
            buttons: [
                'searchPanes'
            ],
            dom: 'Pfrtip'
        });
    });

    $(document).ready(function () {
        $('#myTable1').dataTable({
            "order": [[0, "asc"]],
            'iDisplayLength': 10,
            "bFilter": true,
            "bPaginate": false,
            "bInfo": true,
            "bLengthChange": true,
            "columnDefs": [{
                "targets": 0,
            }],
        });
    });
</script>
</body>
</html>