<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="menu">

<body>
<div layout:fragment="mainpage">

    <div id="blue">
        <div class="container">
            <div class="row">
            </div>
        </div>
    </div>

    <div class="container mtb">
        <div class="row">
            <div class="col-lg-6 col-md-offset-3">
                <div class="col-md-12">

                    <form th:action="@{/saveNewAppointment}" method="post"
                          th:object="${appointment}" role="form">

                        <div th:if="${notAvailable}" class="alert alert-danger" role="alert">
                            <strong th:utext="${timeList}"></strong>
                        </div>

                        <div class="form-group">
                            <label for="InputEmail1">To Date *</label>
                            <b><span th:errors="*{toDate}" class="text-danger"></span></b>
                            <div class='input-group date' id='datetimepicker2'>
                                <input autocomplete="off" required="required"
                                       th:field="*{toDate}" type='text' class="form-control"/> <span
                                    class="input-group-addon"> <span
                                    class="fa fa-calendar"></span>
									</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="InputEmail1">To Time *</label>
                            <b><span
                                    th:if="${timeRequired}" th:utext="${timeRequiredString}" class="text-danger"></span></b>
                            <select
                                    th:field="*{toTime}" class="form-control">

                                <option hidden="" value="0"></option>
                                <option th:each="time : ${times}"
                                        th:value="${time}"
                                        th:text="${time}"></option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="InputEmail1">City *</label> <b><span
                                class="text-danger"></span></b> <select required="required"
                                                                        th:field="*{pet}" class="form-control"
                                                                        disabled="disabled">
                            <option th:each="pet : ${pets}"
                                    th:value="${pet.getId()}"
                                    th:text="${pet.getCustomer().getCity()}"></option>
                        </select>
                        </div>

                        <div class="form-group">
                            <label for="InputEmail1">Vet *</label> <b><span
                                th:errors="*{vet}" class="text-danger"></span></b> <select
                                th:field="*{vet}" class="form-control">
                            <option hidden="" value="0"></option>
                            <option th:each="vet : ${vets}"
                                    th:value="${vet.getId()}"
                                    th:text="${vet.getFirstName() + ' ' + vet.getLastName()}"></option>
                        </select>
                        </div>

                        <div class="form-group">
                            <label for="InputEmail1">Pet *</label> <b><span
                                th:errors="*{pet}" class="text-danger"></span></b> <select
                                th:field="*{pet}" class="form-control">
                            <option hidden="" value="0"></option>
                            <option th:each="pet : ${pets}"
                                    th:value="${pet.getId()}"
                                    th:text="${pet.getName()}"></option>
                        </select>
                        </div>

                        <div class="form-group">
                            <label for="InputName1">Note</label>
                            <textarea rows="6" type="text" th:field="*{note}"
                                      class="form-control" id="exampleInputEmail1"></textarea>
                        </div>

                        <input type="submit" class="btn btn-theme" value="Save"/>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>