<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="menu">

<body>
<div layout:fragment="mainpage">
    <div id="blue">
        <div class="container">
            <div class="row">
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div th:if="${newVetSuccess}" class="alert alert-success" role="alert">
                    <strong>New vet added successfully.</strong>
                </div>
                <div th:if="${vetDelete}" class="alert alert-success" role="alert">
                    <strong>Vet deleted successfully.</strong>
                </div>
                <table id="myTable1" class="table table-bordred table-striped table-bordered">
                    <thead>
                    <tr style="background: #e3e6ff">
                        <th>City</th>
                        <th>Rating</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Address</th>
                        <th>Email</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="vet : ${vets}">
                        <td th:text="${vet.city}"></td>
                        <td th:if="!${vet.rating.equals('-')}" th:text="${vet.rating} + ' ★'"></td>
                        <td th:if="${vet.rating.equals('-')}" th:text="'-'"></td>
                        <td th:text="${vet.firstName}"></td>
                        <td th:text="${vet.lastName}"></td>
                        <td th:text="${vet.streetAddress}"></td>
                        <td th:text="${vet.email}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>